{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande - La boutique{% endblock %}

{% block content %}
<h2>Mon récapitulatif</h2>
<p>Vérifier vos informations avant de payer votre commande</p>
<hr>
<div class="row">
    <div class="col-md-6">
    <strong>Mon adresse de livraison</strong><br/>
    <div class="form-check mt-4">
     {{delivery| raw}}    
    </div>

      <hr>
      <strong>Mon transporteur</strong> <br/>
      <div class="form-check">
     {{carrier.name}}<br/>
     {{carrier.description}}<br/>
     {{carrier.price}} €<br/>
    </div>


         </div>
              <div class="col-md-6">
                <div class="text-center">
                    <b>Ma commande</b><br/>
                </div>
                          <div class="order-summary">
                            {% set total = null %}

                           {% for product in cart %}

                           <div class="row" >
                           <div class="col-2 my-auto"><img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name}}" height="75px"><br/>
                           </div>
                           <div class="col-8"> {{ product.product.name}}<br/>
                           <small>{{ product.product.subtitle }}
                            <br/>
                            x {{ product.quantity }}
                           </small>
                         </div>
                       <div class="col-2 my-auto">
                        {{ ((product.quantity * product.product.price) / 100)}}€
                    </div>
                </div>
                {% set total = total + ((product.quantity * product.product.price) / 100) %}

            {% endfor %}
         </div>

         <hr>
         <strong>Sous-Total : </strong> {{total }} € <br/>
         <strong>Livraison : </strong> {{carrier.price }} €
         <hr>
         <strong>Total : </strong> {{total + carrier.price }} €
         <a href="" class="btn btn-success btn-block mt-3">Payer | {{total + carrier.price }} €</a>
    </div>
</div>
{% endblock %}
